header, footer {
    text-align: justify;
    width:100%;
    letter-spacing: 1px;
    padding: 2em 10%;
    background: #2c3e50;
}

header {
	z-index:10;
	position:fixed;
}

#logo {
	padding:10px 0px 10px 40px;
	color:black;
  	font-family: 'Fjalla One', sans-serif;
 	letter-spacing:.1em;
  	font-size:1.5rem;
}


header h1 a {
	color:white;
}

header h1 a:hover {
	text-decoration:none;
	color:white;
}

header h1, header nav {
	font-family:Arial, Courier, sans-serif;
	color:white;
	display:inline-block
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

nav a {
	color:white;
	padding-right:20px;
}

nav a:hover {
	color:orange;
	text-decoration:none;
}

.jumbotron {
	margin-bottom:0px;
	background-color:#1abc9c;
}

#intro {
	font-size:20px;
	letter-spacing:.1em;
	padding-top:60px;
	color:#fff;
	font-family:Arial, Courier, sans-serif;
	font-style:italic;
}

.didactic {
	padding-top:50px;
}

.odd {
	background-color:#f5f5f0;
}

.even {
	background-color:#1abc9c;
}

article {
	padding:20px;
	clear:both;
}

article img {
	padding-top:20px;
	margin-bottom:60px;
}

article h2 {
	padding-top:20px;
	font-size:24px;
}
article p {
	padding-top:10px;
	font-size:16px;
	font-family: Arial, verdana, sans-serif;
	clear:both;
}

figure img {
	width:100%;
}

footer p {
	font-family:Arial, Courier, sans-serif;
	text-align:right;
	color:white;
	padding:10px 30px 10px 0px;
}